Source: libcereal
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Michael R. Crusoe <crusoe@debian.org>
Section: libdevel
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libboost-serialization-dev,
               libboost-test-dev,
               rapidjson-dev,
               cmake,
               doxygen
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/med-team/libcereal
Vcs-Git: https://salsa.debian.org/med-team/libcereal.git
Homepage: https://uscilab.github.io/cereal/
Rules-Requires-Root: no

Package: libcereal-dev
Architecture: any
Depends: ${misc:Depends},
         rapidjson-dev
Description: C++11 library for serialization
 cereal is a header-only C++11 serialization library. cereal takes arbitrary
 data types and reversibly turns them into different representations, such as
 compact binary encodings, XML, or JSON. cereal was designed to be fast,
 light-weight, and easy to extend - it has no external dependencies and can be
 easily bundled with other code or used standalone.

Package: libcereal-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Description: C++11 library for serialization HTML documentation
 cereal is a header-only C++11 serialization library. cereal takes arbitrary
 data types and reversibly turns them into different representations, such as
 compact binary encodings, XML, or JSON. cereal was designed to be fast,
 light-weight, and easy to extend - it has no external dependencies and can be
 easily bundled with other code or used standalone.
 .
 This package contains the HTML documentation.
